html, body {
  height: 100vh;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

@supports (background-image: paint(something)) {
  body {
    --leaf-size: 16;
    --leaf-color: green;
    background-image: paint(leaf);
  }

  .leaf {
    --leaf-size: 16;
    --leaf-color: white;
    background-image: paint(leaf);
  }
}

.box {
  min-width: 300px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.one {
  --leaf-size: 6;
  --leaf-color: brown;
  --leaf-variance: around;
  height: 80px;
}

.two {
  --leaf-size: 8;
  --leaf-color: darkorchid;
  --leaf-variance: around;
  height: 120px;
}

.three {
  --leaf-size: 12;
  --leaf-color: steelblue;
  --leaf-variance: around;
  height: 260px;
}

.leaf {
  background-image: paint(leaf);
}

.box {
  max-width: 400px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

