.leaf {
  background-color: wheat;
}

@supports (background-image: paint(something)) {
  .leaf {
    --leaf-size: 16;
    --leaf-color: white;
    background-image: paint(leaf);
  }
}

.demo {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.one {
  --leaf-color: brown;
  height: 80px;
}

.two {
  --leaf-color: darkorchid;
  height: 120px;
}

.three {
  --leaf-size: 32;
  --leaf-color: steelblue;
  height: 160px;
}

.leaf {
  background-image: paint(leaf);
}

.box {
  max-width: 400px;
  margin-bottom: 20px;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}

